@if (selectMode()) {
    <div class="select-mode-banner">
        <span class="select-mode-text">Multi Select Mode: </span>
        <button class="icon-button" icon="undo" size="small" (click)="exitSelectMode()"></button>
        <button class="icon-button" icon="delete" size="small"></button>
    </div>
}
@for (card of cards(); track card.id) {
    <app-card
        class="card"
        [class.selected]="isCardSelected(card)"
        [class.selectable]="selectMode()"
        [card]="card"
        (tap)="handleCardClick(card)"
        (hold)="handleCardHold($event)"
        [isInSelectMode]="selectMode()"></app-card>
}
