<div class="header">
    <h1>Decks</h1>
    <button (click)="handleCreateNewDeck()">CREATE NEW</button>
</div>

<div class="decks">
    @for (deck of decks$ | async; track $index) {
        {{ deck | json }}
        <button class="deck" (click)="handlePractice(deck)">
            <span class="deck-title">{{ deck.title }}</span>
            @if (deck.description) {
                <span class="deck-description">{{ deck.description }}</span>
            }
            <div class="info">
                <div class="stat card-count">
                    <mat-icon fontSet="material-symbols-rounded" class="stats-icon"
                        >playing_cards</mat-icon
                    >
                    <span>{{ deck.cardCount }}</span>
                </div>
            </div>
        </button>
    }
</div>
