@use "theme" as *;
@use "constants" as *;

:host {
    @include PageStyles();
}

.search {
    margin-bottom: $m1;
    width: 80%;
    margin-inline: auto;
}

.add-card-button {
    margin-top: $m;
}
