.bento {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: auto;
    gap: 16px;
    padding: 16px;

    .dashboard-tile {
        width: 100%;

        &::ng-deep {
            canvas {
                width: 100% !important;
                height: auto !important;
            }
        }
    }
}
