@use "constants" as *;

:host {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid var(--color-primary-100);
    border-radius: 0.5rem;
}

button.search {
    pointer-events: none;
}

.search-input {
    flex: 1;
    border: none;
    border-radius: $r;
    font-size: 1rem;
    color: var(--color-text);
    background-color: var(--color-background);
    outline: none;
    &:-moz-placeholder {
        color: var(--color-text-secondary);
        opacity: 1;
    }
    &::placeholder {
        color: var(--color-text-secondary);
        opacity: 1;
    }
}
