.screen {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem 1rem 7rem 1rem;
}

.mobile-nav {
    position: fixed;
    $spacing: 1.5rem;
    bottom: $spacing;
    left: $spacing;
    width: calc(100% - ($spacing * 2));
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 100rem;
    z-index: 1000;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 8px 12px;
    transition:
        background-color 0.3s,
        color 0.3s;

    mat-icon {
        $s: 2rem;
        font-size: $s;
        width: $s;
        height: $s;
    }

    &.decks {
        transform: rotate(180deg);
    }
}
